{% extends "base.html.twig" %} 
{% block body %}
<h1>bonjour</h1>
{% include "blog/carousel.html.twig" %}


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi reiciendis, dolorem incidunt inventore hic quae voluptas ipsam quis velit, delectus omnis beatae minus. Commodi, enim dolorum atque ut, nulla pariatur fuga sunt porro quidem placeat eligendi ipsa nostrum magnam?</p>
<p>Distinctio sapiente, necessitatibus accusamus iure culpa a quis nisi iste omnis quasi odit repudiandae quidem debitis nam earum corporis veniam porro ad accusantium exercitationem dignissimos tenetur dicta rem? Consequuntur excepturi quod velit illum libero obcaecati autem, veritatis doloribus. Fugit, necessitatibus?</p>
{% endblock %}